.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}
.dataTables_length {
    float: right;
    margin: 30px 20px 0;
}
.dataTables_filter {
	padding: 20px 0.5em;
	background-color: #ddd;
}
.dataTables_filter input {
	font-size: 0.8em;
    color: #444;
    margin-left: 0.5em;
}
.dataTables_info {
	float: left;
	margin: 10px 0;
    font-size: 0.9em;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #444;
  border: 1px solid #cacaca;
  background-color: #eee;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #c70151;
  border: 1px solid #111;
  background-color: #585858;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
}
table.display thead th {
	cursor: pointer;
	* cursor: hand;
}
table.display td {
	vertical-align: top;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */
.sorting_asc {
	background: #a1a1a1 url('http://www.qmul.ac.uk/qmcms/datatables/media/images/sort_asc.png') no-repeat center right;
	font-weight: bold;
    color: #fff;
}
.sorting_desc {
	background: #ddd url('http://www.qmul.ac.uk/qmcms/datatables/media/images/sort_desc.png') no-repeat center right;
}
.sorting {
	background: #eee url('http://www.qmul.ac.uk/qmcms/datatables/media/images/sort_both.png') no-repeat center right;
}
.sorting_asc_disabled {
	background: url('http://www.qmul.ac.uk/qmcms/datatables/media/images/sort_asc_disabled.png') no-repeat center right;
}
.sorting_desc_disabled {
	background: url('http://www.qmul.ac.uk/qmcms/datatables/media/images/sort_desc_disabled.png') no-repeat center right;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
tr.odd {
	background-color: #e7eaf1;
}
tr.even {
	background-color: #fff;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}
.dataTables_scrollBody {
	*margin-top: -1px;
}
.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}
.top .dataTables_info {
	float: none;
}
.clear {
	clear: both;
}
.dataTables_empty {
	text-align: center;
}
td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}
.example_alt_pagination div.dataTables_info {
	width: 40%;
}
